<style type="text/css">
.input_area div.highlighter-rouge {
    background-color: #263238  !important;
}

div.highlighter-rouge, figure.highlight {
    font-size: 0.8em  !important;
}

.output_stream, .output_data_text, .output_traceback_line {
    margin-left: 3% !important;
    border: none !important;
    border-radius: 4px !important;
    background-color: #fafafa !important;
    box-shadow: none !important;
    color: #000000  !important;
    font-size: 1.5em !important;
}

.output_stream:before, .output_data_text:before, .output_traceback_line:before{
    content: none !important;
}

table.dataframe {
    background-color: #fafafa;
    width: 100%;
    max-height: 240px;
    display: block;
    overflow: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    border-collapse: collapse;
    overflow-x: auto;
}
table.dataframe th {
    font-weight: bold;
    padding: 4px;
}
table.dataframe td {
    padding: 4px;
}
table.dataframe tr:hover {
    background: #b8d1f3;
    vertical-align: middle;
}


</style>